@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

:root {
    --primary-background-color: #1e2228;
    --secondary-background-color: #222722;

    --text-color: #ffffff;
}

body {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;

    background-color: var(--primary-background-color);
    color: var(--text-color);

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    min-height: 100vh;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    font-weight: 500;
}

[class*="__container"] {
    margin: 0 auto;
    width: 1200px;
}

.question__container {
    display: flex;
    flex-direction: column;
    gap: 15px;

    justify-content: center;
    align-items: center;
}

.question__container .buttons__container {
    display: flex;
    flex-direction: row;
    gap: 20px;

    justify-content: center;
    align-items: center;
}

.button {
    background-color: unset;
    color: var(--text-color);

    border: 1px solid var(--text-color);
    border-radius: 5px;
    padding: 10px 15px;

    transition: all 0.2s;
}

.button:hover {
    background-color: var(--text-color);
    color: var(--primary-background-color);
}